
.html {
  height: 100%;
}

div.App {
  height: 100%;
}

body {
  background-color: whitesmoke;
}

.flex-container {
  display: flex;
  flex-direction: column;
  
  div.header {
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: black;
    color:white;
    padding: 2rem;
    
    button {
      border-color: transparent;
      background-color: greenyellow;
      left: 0;
      top: 0;
      height: 50px;
      width: 100px;
      position: absolute;
      font-weight: bold;
      font-size: medium;
    }
  }

  .body {
    background-color: whitesmoke;
    display: flex;

    header.header.nav-not-open {
      background-color: transparent;
      position: absolute;
    }
    
    header.header.nav-open {
      background-color: greenyellow;
      position: absolute;
    }

    .profile-image {
      height: 11rem;
    }
    
    #nav-links {
      
      ul {
        margin: 1rem;
        padding: 0;
        list-style: none;
        min-width: 150px;
        height: 100vh;
        z-index:1;
        
        li {
          padding: 1rem;
        }
        
        li > a {
          font-size: medium;
          color: black;
          text-decoration: none;
        }
        
        li > a:hover {
          color: blue;
        }
      }
    }

    div.routes {
      margin: 2rem 2rem;
    }
    
    
    @media (min-width: 900px) {
      div.routes {
        margin: 2rem auto;
        max-width: 800px;
        width: 100%;

        div.page {
          max-width: 800px;
          width: 100%;
          
          div.page-body > p {
            padding-top: 2rem;
            white-space: pre-wrap;
          }
        }
      } 
    }
  }
}



